name: ci-linux
on:
  pull_request:
  push:
    branches: ["main"]
    paths:
      - '.github/workflows/ci-linux.yaml'
      - 'cabal.project'
      - '*/src/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      # install deps.
      - name: install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install fd-find

      - name: Cache .cabal
        uses: actions/cache@v3
        with:
          path: ${{ steps.cabal-setup.outputs.cabal-store }}
          key: cabal-${{ hashFiles('cabal.project') }}

      - uses: haskell-actions/setup@v2.7.9
        with:
          ghc-version: '9.8.4'
          cabal-version: '3.12.1.0'

      - uses: actions/checkout@v4

      - name: build 
        run: |
          cabal update
          cabal build -j all
